.clockdiv{
	font-family: "Roboto", sans-serif;
	color: #fff;
	font-weight: 100;
	font-size: 30px;
	text-align: center;
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	width: 50%;
}

.clockdiv > div {
	width: 20%;
	padding: 10px;
	display: inline-block;
	background: linear-gradient(0deg, rgb(52, 151, 217) 0%, rgb(45, 63, 81) 100%);
	border-radius: 10px;
	border: 0px solid;
}

.clockdiv .smalltext{
	padding-top: 5px;
	font-size: 16px;
}
